.card {
  display: flex;
  justify-content: center;
  width: 325px;
  height: 328px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
}

.card__name {
  font-size: 16px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 4px;
  padding: 2px 12px;
  background-color: white;
}

.card__img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.card__like-button_inactive {
  display: flex;
  height: 18px;
  width: 20px;
  object-fit:fill;
}

.card__header {
  top: 15px;
  display: flex;
  flex-direction: row;
  position: absolute;
  line-height: 20px;
  align-items: center;
}

.card__like-button_inactive_hidden{
  visibility: hidden;
  cursor: not-allowed;
}
