.clothes-section__add-button {
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
  }
   
  .clothes-section__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 20px;
  }
  .clothes__button {
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .clothes-section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 116px;
  }

  