.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__button-img{
  background-color: #fff;
}

.modal_open{
  visibility: visible;
}

.modal__title {
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 24px;
}

.modal__input {
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid #0000004d;
  padding: 0;
  margin-top: 8px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  padding: 0;
  border-style: none;
  background-color: #fff;
  cursor: pointer;
}

.modal__content {
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  height: 436px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  padding: 28px 28px 36px;
  font-family: "Cabinet Grotesk-Medium";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.modal__radio-buttons {
  display: flex;
  border: none;
  flex-direction: column;
  padding: 0;
  gap: 8px;
}

.modal__submit {
  color: #fff;
  background-color: #0000004d;
  border-radius: 4px;
  border: 1px solid #0000004d;
  width: 124px;
  height: 36px;
  margin: 32px 0 36px;
}

.modal__label {
  margin-bottom: 24px;
}

.modal__label_type_radio {
  display: flex;
  margin: 0;
  height: 20px;
}

.modal__radio-input:checked {
  color: black;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-text {
  margin: 0;
  margin-left: 8px;
}
