.delete__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
}

.delete-modal-modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:24px;
}

.delete-modal__submit{
    color:red;
}

