.sidebar {
  display: flex;
  width: 229px;
  float: left;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.sidebar__text{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.sidebar__avatar{
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.sidebar__avatar-placeholder {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  font-weight: bold;
  font-size: 26px;
  background-color: aqua;
  margin-right: 16px;
}

.sidebar__buttons{
  display: inline-block;
  flex-direction: column;
  gap: 8px;
}

button{
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}
